body {
    font-size: 14px;
}

.image--style{position: relative;display: block;}
.image--style img.img_lazy{position: absolute;object-fit: cover;top: 0;left: 0;;width: 100%;}
/*.product-form__variants{display: none;}*/
.btn{cursor: pointer;padding: 10px 30px;}
