<div class="page page-404">
  <div class="container">
    <div class="page-wrapper">
      <div class="page-content text-center">
        {% render 'svg-2' type: '404' %}
        <h2>{{ 'page.page_404.title' | t}}</h2>
        <p>{{ 'page.page_404.subtitle' | t}}</p>
        <a href="/" class="btn btn-1">{{ 'page.page_404.go_home' | t}}</a>
      </div>
    </div>
  </div>
</div>