<div class="page page-collection-list">
  <div class="page__wrapper">
    <div class="page-custom-content">
      {% section 'custom-content' %}
    </div>
    <div class="page-separator">
      {% section 'section-separator' %}
    </div>
    <div class="page-multiple-banner">
      {% section 'multiple-banner' %}
    </div>
  </div>
</div>