{% liquid 
  assign logo_max_width       = section.settings.logo_max_width
  assign header_desktop_style = section.settings.header_desktop_style
  assign header_mobile_style  = section.settings.header_mobile_style
  assign logo_mobi_max_width  = section.settings.logo_mobi_max_width
%}

<div class="header" data-section-id="{{section.id}}" data-section-type="header">
  {%- case header_desktop_style -%}
    {%- when '1' -%}
      {%- include 'header-style-1' -%}
  {%- endcase -%}

  {%- include 'nav-mobile', header_mobile_style: header_mobile_style-%}
</div>

<style>
  {%- if logo_max_width != blank -%}
    .header .header-desktop .header-desktop__inner .logo svg{
      width: {{logo_max_width}}px;
    }
  {%- endif -%}
  {% if logo_mobi_max_width != blank %}
    @media  screen and (max-width: 991.9px){
      .header .header-desktop .header-desktop__inner .logo svg{
        width: {{logo_mobi_max_width}}px;
      }
    }
  {%- endif -%}
</style>

{% schema %}
{
   "name": "Header",
   "tag": "section",
   "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "boxed",
            "label": "Boxed"
          }
        ],
        "default": "boxed"
      },
     {
        "type":"select",
        "id":"header_desktop_style",
        "label":"Desktop Style",
        "options":[
          {"value":"1","label":"Style 1"}
        ]
     },
     {
        "type":"select",
        "id":"header_mobile_style",
        "label":"Mobile Style",
        "options":[
          {"value":"1","label":"Style 1"}
        ]
     },
     {
        "type":"header",
        "content":"Logo"
     },
     {
       "type" : "select",
       "id" : "logo_type",
       "label" : "Logo type",
       "options" : [
         {
           "value" : "image",
           "label" : "Image" 
         },
         {
           "value" : "svg",
           "label" : "SVG"
         }
       ]
     },
     {
        "type":"image_picker",
        "id":"logo",
        "label":"Desktop: Logo"
     },
     {
        "type":"text",
        "id":"logo_max_width",
        "label":"Desktop: Logo max width",
        "default": "220",
        "placeholder":"E.g: 220"
     },
     {
        "type":"image_picker",
        "id":"logo_mobi",
        "label":"Mobile Logo (Optional)"
     },
     {
        "type":"text",
        "id":"logo_mobi_max_width",
        "label":"Mobile Logo max width",
        "default": "110",
        "placeholder":"E.g: 110"
     },
     {
        "type":"header",
        "content":"Menu settings"
     },
     {
       "type": "link_list",
       "id": "nav_link",
       "label": "Main menu",
       "default": "main-menu"
     }
   ],
   "blocks": []
}
{% endschema %}