 
<div class="d-lg-none mobile-bar">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'block_item' -%}
        {% render 'mobile-bar-snippets' type: block.settings.block_type %}
      {%- when 'block_custom' -%}
        {% render 'mobile-bar-snippets' type: 'custom' %}
    {%- endcase -%}
  {%- endfor -%}  
</div>

<style>
  .mobile-bar {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
  }
</style>

{% schema %}
{
  "name": "Mobile bar",
  "tag": "section",
  "blocks": [
    {
      "type" : "block_item",
      "name" : "Block item",
      "settings" : [
        {
          "type": "text",
          "id": "title",
          "label": "Title block"
        },
        {
          "type": "select",
          "id": "block_type",
          "label" : "Block type",
          "options": [
            {
              "value" : "support",
              "label" : "Support 24/7"
            },
            {
              "value" : "contact",
              "label" : "Contact"
            },
            {
              "value" : "appointment",
              "label" : "Book Appointment"
            },
            {
              "value" : "account",
              "label" : "Account"
            }
          ]
        }
      ]
    },
    {
      "type" : "block_custom",
      "name" : "Block custom",
      "settings" : [
        {
          "type": "text",
          "id": "title",
          "label": "Title block"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        },
        {
          "type" : "url",
          "id" : "url",
          "label" : "URL"
        }
      ]
    }
  ]
}
{% endschema %} 