<div class="partners" data-section-id="{{section.id}}" data-section-type="partners-template">
  <div class="container">
    <div class="partners__wrapper">
      {%- for block in section.blocks -%}
        <div class="partners__block">
          {% render 'page-partners-snippets' block: block %}  
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Page Partners",
  "tag": "section",
  "blocks": [
    {
      "type": "separator",
      "name": "Separator",
      "settings": [
        {
          "type": "paragraph",
          "content": "Seperator Section use to create spacing between sections"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Section Label"
        },
        {
          "type": "text",
          "id": "height",
          "label": "Height",
          "placeholder": "E.g: 30px, 15px, 10px",
          "default": "30px, 15px"
        }
      ]
    },
    {
      "type": "banner_text",
      "name": "Banner text",
      "settings": [
        {
          "type": "paragraph",
          "content": "Created by 'Banner text' block"
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Title"
        },
        {
          "type": "html",
          "id": "subtitle",
          "label": "Subtitle"
        }
      ]
    },
    {
      "type": "custom_content",
      "name": "Custom content",
      "settings": [
        {
          "type": "paragraph",
          "content": "Created by 'Hero Banner' block"
        },
        {
          "type": "header",
          "content": "Block settings"
        },
        {
          "type": "checkbox",
          "id": "reverse_order",
          "label": "Reverse order"
        },
        {
          "type": "header",
          "content": "Image settings"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image Desktop"
        },
        {
          "type": "text",
          "id": "image_max_width",
          "label": "Image max width"
        },
        {
          "type": "text",
          "id": "image_margin",
          "label": "Margin",
          "placeholder": "E.g: 0px 5px 10px 20px"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image Mobile"
        },
        {
          "type": "header",
          "content": "Textbox settings"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "html",
          "id": "paragraph",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type" : "FAQ",
      "name" : "FAQ",
      "settings" : [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"  
        },
        {
          "type": "header",
          "content": "FAQs 1"
        },
        {
          "type": "text",
          "id": "question_1",
          "label": "Question"
        },
        {
          "type": "html",
          "id": "answer_1",
          "label": "Answer"
        },
        {
          "type": "header",
          "content": "FAQs 2"
        },
        {
          "type": "text",
          "id": "question_2",
          "label": "Question"
        },
        {
          "type": "html",
          "id": "answer_2",
          "label": "Answer"
        },
        {
          "type": "header",
          "content": "FAQs 3"
        },
        {
          "type": "text",
          "id": "question_3",
          "label": "Question"
        },
        {
          "type": "html",
          "id": "answer_3",
          "label": "Answer"
        }
      ]
    },
    {
      "type" : "appointment",
      "name" : "Appointment Form",
      "settings" : [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}