{%- case type -%}
  {%- when 'collection' -%}
    {% liquid 
      assign collection = collections[collection_name]
      assign image = collection.image
    %}
      <div class="card">
        <div class="card-body">
          <a href="collections/{{collection.handle}}">
            {%- render 'image-style', image: image -%}
          </a>
        </div>
        <div class="card-footer">
          <div class="card-footer__name">
            <span>{{collection.title}}</span>
          </div>
          <div class="card-footer__total-product">
            <span>{{collection.all_products_count}}</span>
            <span>{{ 'general.card.label_for_all_product_of_collection' | t }}</span>
          </div>
        </div>
      </div>
{%- endcase -%}