{%- case block.type -%}
  {%- when 'custom-content' -%}
    {% liquid 
      assign title         = block.settings.block_title
      assign paragraph_1   = block.settings.paragrap_1
      assign paragraph_2   = block.settings.paragraph_2
      assign image_mobile  = block.settings.image_mobile
      assign image_desktop = block.settings.image_desktop
    %}
    <div class="custom-content">
      <div class="custom-content__wrapper">
        <div class="custom-content__text">
          <div class="heading">
            <span>{{title}}</span>
          </div>
          <div class="d-lg-none image">
            {% render 'image-style' image: image_mobile %}
          </div>
          <div class="paragrap-1">
            <span>{{paragraph_1}}</span>
          </div>
          <div class="paragrap-2">
            <span>{{paragraph_2}}</span>
          </div>
        </div>
        <div class="custom-content__image">
          <div class="d-none d-lg-block image">
            {% render 'image-style' image: image_desktop %}
          </div>
        </div>
      </div>
    </div>
  {% comment %} end {% endcomment %}
{%- endcase -%}