{% liquid 
  assign logo = section.settings.logo 
  assign layout = section.settings.layout 
  assign nav_link = section.settings.nav_link 
%}
{%- if layout == 'boxed' -%} <div class="container"> {%- endif -%}
  <div class="header-desktop ">
    <div class="header-desktop__inner">
      <div class="logo">
        {% if logo != blank %} 
          {%- render 'image-style', image: logo -%}
        {%- else -%}
          <a href="/">{{shop.name}}</a>
        {%- endif -%}
      </div>
      <div class="horizontal-nav">
        <ul class="horizontal-nav__content">
          {%- for link in linklists[nav_link].links -%}
            <li class="nav-link">
              <a href="{{link.url}}">{{link.title}}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="icon-list">
        <div class="icon-list__item account">
          {%- capture account_url -%}
            {%- if customer -%}
              /account
            {%- else -%}
              /account/login
            {%- endif -%}
          {%- endcapture -%}
          <a href="{{account_url}}">
            {%- include 'svg', type: 'account' -%}
          </a>
        </div>
        <div class="icon-list__item cart">
          {%- include 'svg', type: 'cart' -%}
          <div class="number">0</div>
        </div>
      </div>
    </div>
  </div>
{% if layout == 'boxed'  %}</div>{%- endif -%}