{%- case type -%}
	{%- when 'icon-list' -%}
		<div class="icon-list">
      <div class="icon-list__item search">
        <a href="javascript:void(0)" class="js-handle-search">
          {% render 'svg' , type: 'search' %}
        </a> 
      </div>
      <div class="d-none d-lg-block icon-list__item account">
        {%- capture account_url -%}
          {%- if customer -%}
            /account
          {%- else -%}
            /account/login
          {%- endif -%}
        {%- endcapture -%}
        <a href="{{account_url}}">
          {%- include 'svg', type: 'user' -%}
        </a>
      </div>
      <a href="/cart" class="icon-list__item cart">
        {%- include 'svg', type: 'cart' -%}
        <div class="number">0</div>
      </a>
    </div>
  {%- when 'horizontal-nav' -%}
    <div class="horizontal-nav d-none d-lg-flex">
      <ul class="horizontal-nav__content">
        {%- for link in linklists[nav_link].links -%}
          <li class="nav-link">
            <a href="{{link.url}}">{{link.title}}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- when 'logo' -%}
    <div class="logo">
      <a href="/">
        {% render 'svg' ,type: 'logo' %}
      </a>
    </div>
  {%- when 'menu' -%}
    <div class="d-lg-none icon-list__item menu">
      <a href="javascript:void(0)" class="js-handle-nav-mobile">
        {%- include 'svg', type: 'menu' -%}
      </a>
    </div>
{%- endcase -%}