{% liquid 
  assign logo = section.settings.logo 
  assign nav_link = section.settings.nav_link 
%}

<div class="header-desktop header-desktop-01">  
  <div class="container">
    <div class="header-desktop__wrapper">
      <div class="header-desktop__inner">
        {%- include 'header-snippets', type: 'icon-menu' -%}
        {%- include 'header-snippets', type: 'logo' -%}
        {%- include 'header-snippets', type: 'horizontal-nav' -%}
        {%- include 'header-snippets', type: 'icon-list' -%}
      </div>
    </div>
  </div>
</div>