{% liquid 
  assign image_desktop = section.settings.image_desktop
  assign image_mobile  = section.settings.image_mobile
  assign heading       = section.settings.heading
  assign paragraph_1   = section.settings.paragraph_1
  assign paragraph_2   = section.settings.paragraph_2
  assign reserve_order = section.settings.reserve_order
%}

<div class="hero-banner" data-section-id="{{section.id}}" data-section-type="hero-banner">
  <div class="container">
    <div class="hero-banner__wrapper {% if reserve_order %}reserve-order{%- endif -%}">
      <div class="d-flex">
        <div class="d-none d-lg-block hero-banner__image-desktop">
          <div class="image">
            {% render 'image-style' image: image_desktop  %}
          </div>
        </div>
        <div class="hero-banner__text-box">
          <div class="heading">
            <h3>{{heading}}</h3>
          </div>
          <div class="d-lg-none image">
            {% render 'image-style'  image: image_mobile %}
          </div>
          <div class="paragraph-1">
            <span>{{paragraph_1}}</span>
          </div>
          <div class="paragraph-2">
            <span>{{paragraph_2}}</span>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>