<script type="text/template" id="search_template">
  {- #themes.length -}
    <div class="result-themes">
      <div class="title">
        <span>{{ 'general.shopify_themes' | t}}</span>
      </div>
      <ul class="list">
        {- #themes -}
          <li class="item">
            <a href="{- url -}">
              <div class="image">
                {- #featured_image -}
                  <img src="{- url -}" alt="{- alt -}">
                {- /featured_image -}
              </div>
              <div class="info">
                <span>{- title -}</span>
              </div>
            </a>
          </li>
        {- /themes -}
      </ul>
    </div>
  {- /themes.length -}

  {- #apps.length -}
    <div class="result-apps">
      <div class="title">
        <span>{{ 'general.shopify_apps' | t}}</span>
      </div>
      <ul class="list">
        {- #apps -}
          <li class="item">
            <a href="{- url -}">
              <div class="image">
                {- #featured_image -}
                  <img src="{- url -}" alt="{- title -}">
                {- /featured_image -}
              </div>
              <div class="info">
                <span>{- title -}</span>
              </div>
            </a>
          </li>
        {- /apps -}
      </ul>
    </div>
  {- /apps.length -}

  {- #articles.length -}
    <div class="result-article">
      <div class="title">
        <span>{{ 'general.popular_articles' | t}}</span>
      </div>
      <ul class="list">
        {- #articles -}
          <li class="item">
            <a href="{- url -}">
              <div class="info">
                <span class="name">{- title -}</span>
                <span class="published-at">{- published_at -}</span>
              </div>
            </a>
          </li>
        {- /articles -}
      </ul>
    </div>
  {- /articles.length -}
</script>

