<div class="d-lg-none search-mobile" id="search-mobile">
  <div class="form-search">
    <form action="/search" id="search">
      <div class="form-group">
        <a href="javascript:void(0)" id="close_search_mobile">
          {% render 'svg' type: 'arrow-left' %}
        </a>
        <input type="text" id="search_mobile" class="form-control" placeholder="{{ 'search.general.search_placeholder' | t}}">
        {% render 'svg' type: 'microphone' %}
      </div>
    </form>
  </div>
  <div class="no-result">
    <div class="title">
      <span>{{'search.general.no_result.title' | t}}</span>
    </div>
    <div class="subtitle">
      <span>{{ 'search.general.no_result.subtitle' | t}}</span>
    </div>
  </div>
</div>