{%- case type -%}
  {%- when 'search' -%}
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.61667 13.9833C11.1329 13.9833 13.9833 11.1329 13.9833 7.61667C13.9833 4.10045 11.1329 1.25 7.61667 1.25C4.10045 1.25 1.25 4.10045 1.25 7.61667C1.25 11.1329 4.10045 13.9833 7.61667 13.9833Z" stroke-width="1.91" stroke-miterlimit="10"/>
      <path d="M18.7495 18.75L11.9912 11.9917" stroke-width="1.91" stroke-miterlimit="10"/>
    </svg>

  {%- when 'account' -%}
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <ellipse cx="12" cy="6.5843" rx="4" ry="4.5843" stroke="#42474C" stroke-width="1.8"/>
      <path d="M20 19.3184C20 22.884 16 21.8653 12 21.8653C8 21.8653 4 22.884 4 19.3184C4 17.281 7.58172 14.7341 12 14.7341C16.4183 14.7341 20 17.281 20 19.3184Z" stroke="#42474C" stroke-width="1.8"/>
    </svg>



  {%- when 'wishlist' -%}
    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.40997 11L3.07997 10.67C2.57635 10.1683 2.17647 9.57241 1.90316 8.91622C1.62985 8.26003 1.48846 7.55643 1.48707 6.8456C1.48426 5.41001 2.05185 4.0321 3.06497 3.01499C4.0781 1.99789 5.45378 1.4249 6.88937 1.42209C8.32496 1.41928 9.70287 1.98686 10.72 2.99999L12 4.29999L13.28 2.99999C13.7769 2.48058 14.3726 2.06562 15.0321 1.77946C15.6915 1.49329 16.4015 1.34168 17.1203 1.33351C17.8392 1.32534 18.5524 1.46078 19.2182 1.73188C19.884 2.00299 20.4889 2.4043 20.9976 2.91228C21.5062 3.42027 21.9083 4.0247 22.1803 4.69014C22.4523 5.35558 22.5887 6.06862 22.5814 6.78745C22.5742 7.50629 22.4235 8.21644 22.1382 8.87628C21.8529 9.53611 21.4387 10.1323 20.92 10.63L20.59 10.96L12 19.57L6.06997 13.64L3.40997 11Z" stroke="#FF9923" stroke-width="1.91" stroke-miterlimit="10"/>
    </svg>

  {%- when 'cart' -%}
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 3H3.5817C4.05988 3 4.29897 3 4.49338 3.08668C4.66475 3.1631 4.81117 3.2862 4.9159 3.4419C5.03469 3.61852 5.07576 3.85406 5.15791 4.32513L5.52068 6.40541M5.52068 6.40541L6.36881 11.269C6.54834 12.2985 6.6381 12.8132 6.90339 13.1841C7.13699 13.5106 7.46345 13.7593 7.84031 13.8978C8.26831 14.055 8.78842 14.0048 9.82864 13.9044L19.1917 13.0008C20.1332 12.9099 20.604 12.8645 20.9663 12.6646C21.3542 12.4505 21.66 12.1137 21.8358 11.707C22 11.3272 22 10.8543 22 9.90833V9.90833C22 8.90322 22 8.40066 21.8209 8.00639C21.6291 7.58443 21.2968 7.24216 20.8807 7.03807C20.4919 6.84737 19.9895 6.83254 18.9849 6.80288L5.52068 6.40541Z" stroke="#42474C" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
      <ellipse cx="9.31694" cy="19.0541" rx="1.95122" ry="1.94595" stroke="#42474C" stroke-width="1.8"/>
      <ellipse cx="18.5855" cy="19.0541" rx="1.95122" ry="1.94595" stroke="#42474C" stroke-width="1.8"/>
    </svg>
    
  {%- when 'nav' -%}
    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M17.2 3.8H0.5C0.2 3.8 0 3.6 0 3.3V0.5C0 0.2 0.2 0 0.5 0H17.3C17.6 0 17.8 0.2 17.8 0.5V3.3C17.7 3.6 17.5 3.8 17.2 3.8Z" fill="#103178"/>
      <path d="M17.2 9.8H0.5C0.2 9.8 0 9.6 0 9.3V6.5C0 6.2 0.2 6 0.5 6H17.3C17.6 6 17.8 6.2 17.8 6.5V9.3C17.7 9.5 17.5 9.8 17.2 9.8Z" fill="#103178"/>
      <path d="M17.2 15.7H0.5C0.2 15.7 0 15.5 0 15.2V12.4C0 12.1 0.2 11.9 0.5 11.9H17.3C17.6 11.9 17.8 12.1 17.8 12.4V15.2C17.7 15.5 17.5 15.7 17.2 15.7Z" fill="#103178"/>
    </svg>

  {%- when 'arrowDown' -%}
    <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.01529 2.98179L1.35057 0.317078L0 1.66765L4.01529 5.68294L8.03057 1.66765L6.68 0.317078L4.01529 2.98179Z" fill="#5B6C8F"/>
    </svg>

  {%- when 'arrowRight' -%}
    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1L8 8L1 15" stroke="#0C3E34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  {%- when 'hamburger' -%}
    <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21.0652 2.00879H0.61236C0.244944 2.00879 0 1.90353 0 1.74563V0.271947C0 0.114052 0.244944 0.00878906 0.61236 0.00878906H21.1876C21.5551 0.00878906 21.8 0.114052 21.8 0.271947V1.74563C21.6775 1.90353 21.4326 2.00879 21.0652 2.00879Z" fill="#FF9923"/>
      <path d="M21.0652 9.00879H0.61236C0.244944 9.00879 0 8.90353 0 8.74563V7.27195C0 7.11405 0.244944 7.00879 0.61236 7.00879H21.1876C21.5551 7.00879 21.8 7.11405 21.8 7.27195V8.74563C21.6775 8.85089 21.4326 9.00879 21.0652 9.00879Z" fill="#FF9923"/>
      <path d="M21.0652 16.0088H0.61236C0.244944 16.0088 0 15.9035 0 15.7456V14.2719C0 14.1141 0.244944 14.0088 0.61236 14.0088H21.1876C21.5551 14.0088 21.8 14.1141 21.8 14.2719V15.7456C21.6775 15.9035 21.4326 16.0088 21.0652 16.0088Z" fill="#FF9923"/>
    </svg>

  {%- when 'facebook' -%}
    <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.29366 15V8.29102H0V5.625H2.29366V3.52441C2.29366 1.24219 3.71711 0 5.79545 0C6.79127 0 7.64653 0.0732422 7.89474 0.105469V2.49023H6.45335C5.32297 2.49023 5.10466 3.01758 5.10466 3.78809V5.625H7.6555L7.30562 8.29102H5.10466V15" fill="#5B6C8F"/>
    </svg>


  {%- when 'instagram' -%}
    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.21329 4.13068C5.42006 4.13068 3.97364 5.63361 3.97364 7.49689C3.97364 9.36017 5.42006 10.8631 7.21329 10.8631C9.00653 10.8631 10.453 9.36017 10.453 7.49689C10.453 5.63361 9.00653 4.13068 7.21329 4.13068ZM7.21329 9.68536C6.05446 9.68536 5.10709 8.70392 5.10709 7.49689C5.10709 6.28986 6.05164 5.30841 7.21329 5.30841C8.37495 5.30841 9.3195 6.28986 9.3195 7.49689C9.3195 8.70392 8.37213 9.68536 7.21329 9.68536ZM11.3411 3.99298C11.3411 4.4295 11.0028 4.77814 10.5855 4.77814C10.1654 4.77814 9.82983 4.42657 9.82983 3.99298C9.82983 3.55939 10.1682 3.20782 10.5855 3.20782C11.0028 3.20782 11.3411 3.55939 11.3411 3.99298ZM13.4868 4.78986C13.4389 3.7381 13.2076 2.80646 12.4661 2.03888C11.7274 1.2713 10.8308 1.03107 9.81856 0.978333C8.77532 0.916809 5.64845 0.916809 4.60522 0.978333C3.59582 1.02814 2.6992 1.26837 1.95766 2.03595C1.21612 2.80353 0.987738 3.73517 0.936986 4.78693C0.877776 5.87091 0.877776 9.11993 0.936986 10.2039C0.984918 11.2557 1.21612 12.1873 1.95766 12.9549C2.6992 13.7225 3.593 13.9627 4.60522 14.0154C5.64845 14.077 8.77532 14.077 9.81856 14.0154C10.8308 13.9656 11.7274 13.7254 12.4661 12.9549C13.2048 12.1873 13.436 11.2557 13.4868 10.2039C13.546 9.11993 13.546 5.87384 13.4868 4.78986ZM12.139 11.367C11.9191 11.9412 11.4934 12.3836 10.9379 12.6151C10.1061 12.9578 8.13247 12.8787 7.21329 12.8787C6.29412 12.8787 4.31762 12.9549 3.48867 12.6151C2.93604 12.3865 2.51029 11.9442 2.28755 11.367C1.95766 10.5027 2.03379 8.45197 2.03379 7.49689C2.03379 6.54181 1.96048 4.4881 2.28755 3.62677C2.50747 3.05255 2.93322 2.61017 3.48867 2.37872C4.32044 2.03595 6.29412 2.11505 7.21329 2.11505C8.13247 2.11505 10.109 2.03888 10.9379 2.37872C11.4905 2.60724 11.9163 3.04962 12.139 3.62677C12.4689 4.49103 12.3928 6.54181 12.3928 7.49689C12.3928 8.45197 12.4689 10.5057 12.139 11.367Z" fill="#5B6C8F"/>
    </svg>

  {%- when 'youtube' -%}
    <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.5935 2.63524C15.4213 1.94237 14.914 1.39669 14.2699 1.2115C13.1024 0.875 8.42094 0.875 8.42094 0.875C8.42094 0.875 3.73947 0.875 2.57195 1.2115C1.92784 1.39672 1.42055 1.94237 1.24838 2.63524C0.935547 3.89111 0.935547 6.51137 0.935547 6.51137C0.935547 6.51137 0.935547 9.13162 1.24838 10.3875C1.42055 11.0804 1.92784 11.6033 2.57195 11.7885C3.73947 12.125 8.42094 12.125 8.42094 12.125C8.42094 12.125 13.1024 12.125 14.2699 11.7885C14.914 11.6033 15.4213 11.0804 15.5935 10.3875C15.9063 9.13162 15.9063 6.51137 15.9063 6.51137C15.9063 6.51137 15.9063 3.89111 15.5935 2.63524ZM6.88982 8.89036V4.13237L10.8026 6.51143L6.88982 8.89036Z" fill="#5B6C8F"/>
    </svg>

  {%- when 'pinterest' -%}
    <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.18763 0.19046C3.2345 0.19046 0.315918 2.19437 0.315918 5.43753C0.315918 7.50003 1.45572 8.6719 2.14651 8.6719C2.43146 8.6719 2.59552 7.86331 2.59552 7.6348C2.59552 7.36233 1.91337 6.78226 1.91337 5.64847C1.91337 3.293 3.67488 1.62308 5.95449 1.62308C7.9146 1.62308 9.36526 2.75687 9.36526 4.83987C9.36526 6.39554 8.75218 9.31351 6.76617 9.31351C6.04947 9.31351 5.4364 8.78616 5.4364 8.0303C5.4364 6.92288 6.19626 5.85062 6.19626 4.70804C6.19626 2.76858 3.49355 3.12015 3.49355 5.4639C3.49355 5.95608 3.55399 6.50101 3.76987 6.94925C3.37266 8.68948 2.56098 11.2823 2.56098 13.0752C2.56098 13.6289 2.6387 14.1739 2.69051 14.7276C2.78837 14.8389 2.73944 14.8272 2.88911 14.7715C4.33977 12.75 4.28796 12.3545 4.94421 9.70901C5.29824 10.3946 6.21353 10.7637 6.93886 10.7637C9.99561 10.7637 11.3686 7.73148 11.3686 4.99808C11.3686 2.0889 8.89898 0.19046 6.18763 0.19046Z" fill="#5B6C8F"/>
    </svg>

  {%- when 'twitter' -%}
    <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.19666 14.0625H0.577299V5.2998H3.19666V14.0625ZM1.88557 4.10449C1.04816 4.10449 0.368652 3.38379 0.368652 2.51367C0.368652 1.64355 1.04816 0.9375 1.88557 0.9375C2.72297 0.9375 3.40248 1.64355 3.40248 2.51367C3.40248 3.38379 2.72297 4.10449 1.88557 4.10449ZM13.0002 14.0625H10.3865V9.79688C10.3865 8.78027 10.3668 7.47656 9.02466 7.47656C7.66282 7.47656 7.45417 8.58105 7.45417 9.72363V14.0625H4.83763V5.2998H7.34985V6.49512H7.3865C7.73612 5.80664 8.59045 5.08008 9.86488 5.08008C12.5153 5.08008 13.003 6.89356 13.003 9.24902V14.0625H13.0002Z" fill="#5B6C8F"/>
    </svg>

  {%- when 'home' -%}
    {%- assign fill = fill | default: '#FF9923' -%}
    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20 10.4912V22.4912H4V10.4912" stroke="{{fill}}" stroke-width="2" stroke-miterlimit="10"/>
      <path d="M23 12.4912L12 3.49121L1 12.4912" stroke="{{fill}}" stroke-width="2" stroke-miterlimit="10"/>
    </svg>

  {%- when 'custom' -%}
    {%- unless name == blank -%}
      {%- if name contains '<svg' -%}<span class="svg-element-ui">{{ name }}</span>
      {%- else 					-%}<span class="icon-element-ui"><i class="{{name}}"></i></span>
      {%- endif -%}
    {%- endunless -%}
  {%- when 'icons-1' -%}
    <svg width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="30.1875" y="30.1875" width="31.625" height="46" fill="#9CE7C3"/>
      <path d="M11.5 17.25H90.0833V82.4166C90.0833 84.45 89.2756 86.4 87.8378 87.8378C86.4 89.2756 84.45 90.0833 82.4166 90.0833H9.58329C7.54997 90.0833 5.59992 89.2756 4.16214 87.8378C2.72436 86.4 1.91663 84.45 1.91663 82.4166V9.58329C1.91663 7.54997 2.72436 5.59992 4.16214 4.16214C5.59992 2.72436 7.54997 1.91663 9.58329 1.91663H82.4166C82.4166 1.91663 90.0833 1.91663 90.0833 9.58329" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M11.5001 9.58313H15.3335" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M23.0001 9.58313H26.8335" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M78.5833 9.58313H82.4166" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M30.6667 34.5001C30.6667 33.4834 31.0706 32.5084 31.7895 31.7895C32.5084 31.0706 33.4834 30.6667 34.5001 30.6667H57.5001C58.5167 30.6667 59.4918 31.0706 60.2107 31.7895C60.9295 32.5084 61.3334 33.4834 61.3334 34.5001V55.5834" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M61.3334 63.2501V72.8335C61.3334 73.8501 60.9295 74.8251 60.2107 75.544C59.4918 76.2629 58.5167 76.6668 57.5001 76.6668H34.5001C33.4834 76.6668 32.5084 76.2629 31.7895 75.544C31.0706 74.8251 30.6667 73.8501 30.6667 72.8335V51.7501" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M61.3333 68.9998H78.5833C79.0916 68.9998 79.5791 68.7979 79.9385 68.4384C80.298 68.079 80.4999 67.5915 80.4999 67.0831V40.2498C80.4999 39.7415 80.298 39.254 79.9385 38.8945C79.5791 38.5351 79.0916 38.3331 78.5833 38.3331H61.3333" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M30.6668 38.3331H13.4168C12.9085 38.3331 12.4209 38.5351 12.0615 38.8945C11.7021 39.254 11.5001 39.7415 11.5001 40.2498V67.0831C11.5001 67.5915 11.7021 68.079 12.0615 68.4384C12.4209 68.7979 12.9085 68.9998 13.4168 68.9998H30.6668" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M30.6667 34.5001V44.0835H51.7501" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M11.5001 49.8331H23.0001" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M69 49.8331H80.5" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M46.0001 65.1667C49.1758 65.1667 51.7501 62.5924 51.7501 59.4167C51.7501 56.2411 49.1758 53.6667 46.0001 53.6667C42.8245 53.6667 40.2501 56.2411 40.2501 59.4167C40.2501 62.5924 42.8245 65.1667 46.0001 65.1667Z" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>


  {%- when 'icons-2' -%}
    <svg width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="35.2666" y="42.1666" width="22.2333" height="6.9" fill="#9CE7C3"/>
      <path d="M44.0834 42.1666H32.5834C32.0751 42.1666 31.5876 41.9647 31.2281 41.6052C30.8687 41.2458 30.6667 40.7583 30.6667 40.25V32.5833C30.6667 32.075 30.8687 31.5874 31.2281 31.228C31.5876 30.8686 32.0751 30.6666 32.5834 30.6666H59.4168C59.9251 30.6666 60.4126 30.8686 60.772 31.228C61.1315 31.5874 61.3334 32.075 61.3334 32.5833V40.25C61.3334 40.7583 61.1315 41.2458 60.772 41.6052C60.4126 41.9647 59.9251 42.1666 59.4168 42.1666H51.7501" fill="#9CE7C3"/>
      <path d="M44.0834 42.1666H32.5834C32.0751 42.1666 31.5876 41.9647 31.2281 41.6052C30.8687 41.2458 30.6667 40.7583 30.6667 40.25V32.5833C30.6667 32.075 30.8687 31.5874 31.2281 31.228C31.5876 30.8686 32.0751 30.6666 32.5834 30.6666H59.4168C59.9251 30.6666 60.4126 30.8686 60.772 31.228C61.1315 31.5874 61.3334 32.075 61.3334 32.5833V40.25C61.3334 40.7583 61.1315 41.2458 60.772 41.6052C60.4126 41.9647 59.9251 42.1666 59.4168 42.1666H51.7501" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M34.5001 42.1666V49.8333H32.5834C32.0751 49.8333 31.5876 50.0352 31.2281 50.3947C30.8687 50.7541 30.6667 51.2416 30.6667 51.75V59.4166C30.6667 59.925 30.8687 60.4125 31.2281 60.7719C31.5876 61.1314 32.0751 61.3333 32.5834 61.3333H59.4168C59.9251 61.3333 60.4126 61.1314 60.772 60.7719C61.1315 60.4125 61.3334 59.925 61.3334 59.4166V51.75C61.3334 51.2416 61.1315 50.7541 60.772 50.3947C60.4126 50.0352 59.9251 49.8333 59.4168 49.8333H42.1667" fill="#9CE7C3"/>
      <path d="M34.5001 42.1666V49.8333H32.5834C32.0751 49.8333 31.5876 50.0352 31.2281 50.3947C30.8687 50.7541 30.6667 51.2416 30.6667 51.75V59.4166C30.6667 59.925 30.8687 60.4125 31.2281 60.7719C31.5876 61.1314 32.0751 61.3333 32.5834 61.3333H59.4168C59.9251 61.3333 60.4126 61.1314 60.772 60.7719C61.1315 60.4125 61.3334 59.925 61.3334 59.4166V51.75C61.3334 51.2416 61.1315 50.7541 60.772 50.3947C60.4126 50.0352 59.9251 49.8333 59.4168 49.8333H42.1667" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M57.5 42.1666V49.8333" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M46 61.3334V72.8334H34.5" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M46 72.8334H57.5" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M57.5 72.8333C57.5 72.0752 57.7248 71.334 58.146 70.7036C58.5672 70.0733 59.1659 69.5819 59.8664 69.2918C60.5668 69.0017 61.3376 68.9257 62.0812 69.0737C62.8248 69.2216 63.5078 69.5867 64.0439 70.1228C64.58 70.6589 64.9451 71.3419 65.093 72.0855C65.2409 72.8291 65.165 73.5998 64.8749 74.3003C64.5847 75.0007 64.0934 75.5994 63.463 76.0206C62.8326 76.4419 62.0915 76.6667 61.3333 76.6667" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M34.4999 72.8333C34.4999 73.5915 34.2751 74.3326 33.8539 74.963C33.4327 75.5934 32.834 76.0847 32.1335 76.3749C31.4331 76.665 30.6623 76.7409 29.9187 76.593C29.1751 76.4451 28.4921 76.08 27.956 75.5439C27.4199 75.0078 27.0548 74.3248 26.9069 73.5812C26.759 72.8376 26.8349 72.0668 27.125 71.3664C27.4152 70.6659 27.9065 70.0672 28.5369 69.646C29.1673 69.2248 29.9084 69 30.6666 69" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M11.5001 17.25H90.0834V82.4166C90.0834 84.45 89.2757 86.4 87.8379 87.8378C86.4001 89.2756 84.4501 90.0833 82.4167 90.0833H9.58341C7.55009 90.0833 5.60004 89.2756 4.16226 87.8378C2.72448 86.4 1.91675 84.45 1.91675 82.4166V9.58329C1.91675 7.54997 2.72448 5.59992 4.16226 4.16214C5.60004 2.72436 7.55009 1.91663 9.58341 1.91663H82.4167C82.4167 1.91663 90.0834 1.91663 90.0834 9.58329" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M11.5 9.58337H15.3333" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M23 9.58337H26.8333" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M78.5833 9.58337H82.4166" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>


  {%- when 'icons-3' -%}
    <svg width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.4998 17.2501H90.0832V82.4168C90.0832 84.4501 89.2754 86.4001 87.8377 87.8379C86.3999 89.2757 84.4498 90.0834 82.4165 90.0834H9.58317C7.54984 90.0834 5.5998 89.2757 4.16202 87.8379C2.72424 86.4001 1.9165 84.4501 1.9165 82.4168V9.58342C1.9165 7.55009 2.72424 5.60004 4.16202 4.16226C5.5998 2.72448 7.54984 1.91675 9.58317 1.91675H82.4165C82.4165 1.91675 90.0832 1.91675 90.0832 9.58342" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M11.5 9.58325H15.3333" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M23 9.58325H26.8333" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M78.5835 9.58325H82.4168" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M30.6668 26.8333H23.0002C21.9416 26.8333 21.0835 27.6914 21.0835 28.7499V36.4166C21.0835 37.4751 21.9416 38.3333 23.0002 38.3333H30.6668C31.7254 38.3333 32.5835 37.4751 32.5835 36.4166V28.7499C32.5835 27.6914 31.7254 26.8333 30.6668 26.8333Z" fill="#9CE7C3" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M30.6668 47.9167H23.0002C21.9416 47.9167 21.0835 48.7749 21.0835 49.8334V57.5001C21.0835 58.5586 21.9416 59.4167 23.0002 59.4167H30.6668C31.7254 59.4167 32.5835 58.5586 32.5835 57.5001V49.8334C32.5835 48.7749 31.7254 47.9167 30.6668 47.9167Z" fill="#9CE7C3" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M40.25 28.75H70.9167" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M40.25 36.4167H44.0833" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M51.75 36.4167H55.5833" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M40.25 49.8333H70.9167" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M40.25 57.5H44.0833" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M51.75 57.5H55.5833" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M30.6668 69H23.0002C21.9416 69 21.0835 69.8581 21.0835 70.9167V78.5833C21.0835 79.6419 21.9416 80.5 23.0002 80.5H30.6668C31.7254 80.5 32.5835 79.6419 32.5835 78.5833V70.9167C32.5835 69.8581 31.7254 69 30.6668 69Z" fill="#9CE7C3" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M40.25 70.9167H70.9167" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M40.25 78.5833H44.0833" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M51.75 78.5833H55.5833" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  {%- when 'icons-4' -%}
    <svg width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.4998 17.2501H90.0832V82.4168C90.0832 84.4501 89.2754 86.4001 87.8377 87.8379C86.3999 89.2757 84.4498 90.0834 82.4165 90.0834H9.58317C7.54984 90.0834 5.5998 89.2757 4.16202 87.8379C2.72424 86.4001 1.9165 84.4501 1.9165 82.4168V9.58342C1.9165 7.55009 2.72424 5.60004 4.16202 4.16226C5.5998 2.72448 7.54984 1.91675 9.58317 1.91675H82.4165C82.4165 1.91675 90.0832 1.91675 90.0832 9.58342" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M11.5 9.58325H15.3333" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M23 9.58325H26.8333" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M78.5833 9.58325H82.4166" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M72.8333 32.5833H19.1667C18.1081 32.5833 17.25 33.4414 17.25 34.4999V38.3333C17.25 39.3918 18.1081 40.2499 19.1667 40.2499H72.8333C73.8919 40.2499 74.75 39.3918 74.75 38.3333V34.4999C74.75 33.4414 73.8919 32.5833 72.8333 32.5833Z" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M72.8333 49.8333H19.1667C18.1081 49.8333 17.25 50.6914 17.25 51.7499V55.5833C17.25 56.6418 18.1081 57.4999 19.1667 57.4999H72.8333C73.8919 57.4999 74.75 56.6418 74.75 55.5833V51.7499C74.75 50.6914 73.8919 49.8333 72.8333 49.8333Z" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M53.6668 67.0833H46.0002C44.9416 67.0833 44.0835 67.9414 44.0835 68.9999V72.8333C44.0835 73.8918 44.9416 74.7499 46.0002 74.7499H53.6668C54.7254 74.7499 55.5835 73.8918 55.5835 72.8333V68.9999C55.5835 67.9414 54.7254 67.0833 53.6668 67.0833Z" fill="#9CE7C3" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M72.8333 67.0833H65.1667C64.1081 67.0833 63.25 67.9414 63.25 68.9999V72.8333C63.25 73.8918 64.1081 74.7499 65.1667 74.7499H72.8333C73.8919 74.7499 74.75 73.8918 74.75 72.8333V68.9999C74.75 67.9414 73.8919 67.0833 72.8333 67.0833Z" fill="#9CE7C3" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M17.25 67.0833H32.5833" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M17.25 74.75H21.0833" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M28.75 74.75H32.5833" stroke="#55595E" stroke-width="3.45" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  {%- when 'icons-5' -%}
    <svg width="112" height="112" viewBox="0 0 112 112" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M103.25 77.2333H8.75C7.35761 77.2333 6.02226 77.7864 5.03769 78.771C4.05312 79.7555 3.5 81.0909 3.5 82.4833V84.2333C3.5 87.018 4.60625 89.6888 6.57538 91.6579C8.54451 93.627 11.2152 94.7333 14 94.7333H98C100.785 94.7333 103.455 93.627 105.425 91.6579C107.394 89.6888 108.5 87.018 108.5 84.2333V82.4833C108.5 81.0909 107.947 79.7555 106.962 78.771C105.978 77.7864 104.642 77.2333 103.25 77.2333ZM105 84.2333C105 86.0898 104.262 87.8703 102.95 89.183C101.637 90.4958 99.8565 91.2333 98 91.2333H14C12.1435 91.2333 10.363 90.4958 9.05025 89.183C7.7375 87.8703 7 86.0898 7 84.2333V82.4833C7 82.0191 7.18437 81.574 7.51256 81.2458C7.84075 80.9176 8.28587 80.7333 8.75 80.7333H103.25C103.714 80.7333 104.159 80.9176 104.487 81.2458C104.816 81.574 105 82.0191 105 82.4833V84.2333Z" fill="#55595E"/>
      <path d="M94.5 17.7333H17.5C16.1076 17.7333 14.7723 18.2864 13.7877 19.271C12.8031 20.2555 12.25 21.5909 12.25 22.9833V78.9833C12.25 79.4474 12.4344 79.8925 12.7626 80.2207C13.0908 80.5489 13.5359 80.7333 14 80.7333H98C98.4641 80.7333 98.9092 80.5489 99.2374 80.2207C99.5656 79.8925 99.75 79.4474 99.75 78.9833V22.9833C99.75 21.5909 99.1969 20.2555 98.2123 19.271C97.2277 18.2864 95.8924 17.7333 94.5 17.7333ZM96.25 77.2333H15.75V22.9833C15.75 22.5191 15.9344 22.074 16.2626 21.7458C16.5908 21.4177 17.0359 21.2333 17.5 21.2333H94.5C94.9641 21.2333 95.4092 21.4177 95.7374 21.7458C96.0656 22.074 96.25 22.5191 96.25 22.9833V77.2333Z" fill="#55595E"/>
      <path d="M91 73.7333H21C20.5359 73.7333 20.0908 73.5489 19.7626 73.2207C19.4344 72.8925 19.25 72.4474 19.25 71.9833V26.4833C19.25 26.0191 19.4344 25.574 19.7626 25.2458C20.0908 24.9177 20.5359 24.7333 21 24.7333H91C91.4641 24.7333 91.9092 24.9177 92.2374 25.2458C92.5656 25.574 92.75 26.0191 92.75 26.4833V71.9833C92.75 72.4474 92.5656 72.8925 92.2374 73.2207C91.9092 73.5489 91.4641 73.7333 91 73.7333ZM22.75 70.2333H89.25V28.2333H22.75V70.2333Z" fill="#55595E"/>
      <rect x="43.5557" y="46.9001" width="25.6667" height="18.6667" fill="#9CE7C3"/>
      <path d="M66.5 68.4833H45.5C44.1076 68.4833 42.7723 67.9302 41.7877 66.9456C40.8031 65.961 40.25 64.6257 40.25 63.2333V49.2333C40.25 47.8409 40.8031 46.5055 41.7877 45.521C42.7723 44.5364 44.1076 43.9833 45.5 43.9833H66.5C67.8924 43.9833 69.2277 44.5364 70.2123 45.521C71.1969 46.5055 71.75 47.8409 71.75 49.2333V63.2333C71.75 64.6257 71.1969 65.961 70.2123 66.9456C69.2277 67.9302 67.8924 68.4833 66.5 68.4833ZM45.5 47.4833C45.0359 47.4833 44.5908 47.6676 44.2626 47.9958C43.9344 48.324 43.75 48.7691 43.75 49.2333V63.2333C43.75 63.6974 43.9344 64.1425 44.2626 64.4707C44.5908 64.7989 45.0359 64.9833 45.5 64.9833H66.5C66.9641 64.9833 67.4093 64.7989 67.7374 64.4707C68.0656 64.1425 68.25 63.6974 68.25 63.2333V49.2333C68.25 48.7691 68.0656 48.324 67.7374 47.9958C67.4093 47.6676 66.9641 47.4833 66.5 47.4833H45.5Z" fill="#55595E"/>
      <path d="M64.75 47.4833H47.25C46.7859 47.4833 46.3408 47.2989 46.0126 46.9707C45.6844 46.6425 45.5 46.1974 45.5 45.7333V40.4833C45.5 37.6985 46.6062 35.0278 48.5754 33.0587C50.5445 31.0895 53.2152 29.9833 56 29.9833C58.7848 29.9833 61.4555 31.0895 63.4246 33.0587C65.3938 35.0278 66.5 37.6985 66.5 40.4833V45.7333C66.5 46.1974 66.3156 46.6425 65.9874 46.9707C65.6593 47.2989 65.2141 47.4833 64.75 47.4833ZM49 43.9833H63V40.4833C63 38.6268 62.2625 36.8463 60.9497 35.5335C59.637 34.2208 57.8565 33.4833 56 33.4833C54.1435 33.4833 52.363 34.2208 51.0503 35.5335C49.7375 36.8463 49 38.6268 49 40.4833V43.9833Z" fill="#55595E"/>
      <path d="M54.2496 61.4832C54.0193 61.4846 53.791 61.4404 53.5778 61.3533C53.3645 61.2662 53.1706 61.1379 53.0071 60.9757L49.5071 57.4757C49.1776 57.1462 48.9924 56.6993 48.9924 56.2332C48.9924 55.7672 49.1776 55.3203 49.5071 54.9907C49.8366 54.6612 50.2836 54.4761 50.7496 54.4761C51.2156 54.4761 51.6626 54.6612 51.9921 54.9907L54.2496 57.2657L60.0071 51.4907C60.1703 51.3276 60.364 51.1981 60.5772 51.1098C60.7903 51.0215 61.0188 50.9761 61.2496 50.9761C61.4803 50.9761 61.7088 51.0215 61.922 51.1098C62.1352 51.1981 62.3289 51.3276 62.4921 51.4907C62.6553 51.6539 62.7847 51.8476 62.873 52.0608C62.9613 52.274 63.0068 52.5025 63.0068 52.7332C63.0068 52.964 62.9613 53.1925 62.873 53.4057C62.7847 53.6189 62.6553 53.8126 62.4921 53.9757L55.4921 60.9757C55.3286 61.1379 55.1346 61.2662 54.9214 61.3533C54.7082 61.4404 54.4799 61.4846 54.2496 61.4832Z" fill="#55595E"/>
      <path d="M66.5005 87.7333H45.5005C45.2702 87.7346 45.0419 87.6905 44.8287 87.6034C44.6154 87.5163 44.4215 87.388 44.258 87.2258L37.258 80.2258C37.0152 79.9797 36.8507 79.6672 36.7853 79.3277C36.7199 78.9882 36.7565 78.637 36.8905 78.3183C37.0218 77.9987 37.2447 77.7251 37.5312 77.532C37.8177 77.339 38.155 77.235 38.5005 77.2333H73.5005C73.846 77.235 74.1832 77.339 74.4698 77.532C74.7563 77.7251 74.9792 77.9987 75.1105 78.3183C75.2445 78.637 75.2811 78.9882 75.2157 79.3277C75.1503 79.6672 74.9858 79.9797 74.743 80.2258L67.743 87.2258C67.5795 87.388 67.3855 87.5163 67.1723 87.6034C66.9591 87.6905 66.7308 87.7346 66.5005 87.7333ZM46.218 84.2333H65.783L69.283 80.7333H42.718L46.218 84.2333Z" fill="#55595E"/>
    </svg>

{%- endcase -%}