{%- case type -%}
  {%- when 'search' -%}
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.61667 13.9833C11.1329 13.9833 13.9833 11.1329 13.9833 7.61667C13.9833 4.10045 11.1329 1.25 7.61667 1.25C4.10045 1.25 1.25 4.10045 1.25 7.61667C1.25 11.1329 4.10045 13.9833 7.61667 13.9833Z" stroke-width="1.91" stroke-miterlimit="10"/>
      <path d="M18.7495 18.75L11.9912 11.9917" stroke-width="1.91" stroke-miterlimit="10"/>
    </svg>

  {%- when 'account' -%}
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <ellipse cx="12" cy="6.5843" rx="4" ry="4.5843" stroke="#42474C" stroke-width="1.8"/>
      <path d="M20 19.3184C20 22.884 16 21.8653 12 21.8653C8 21.8653 4 22.884 4 19.3184C4 17.281 7.58172 14.7341 12 14.7341C16.4183 14.7341 20 17.281 20 19.3184Z" stroke="#42474C" stroke-width="1.8"/>
    </svg>



  {%- when 'wishlist' -%}
    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.40997 11L3.07997 10.67C2.57635 10.1683 2.17647 9.57241 1.90316 8.91622C1.62985 8.26003 1.48846 7.55643 1.48707 6.8456C1.48426 5.41001 2.05185 4.0321 3.06497 3.01499C4.0781 1.99789 5.45378 1.4249 6.88937 1.42209C8.32496 1.41928 9.70287 1.98686 10.72 2.99999L12 4.29999L13.28 2.99999C13.7769 2.48058 14.3726 2.06562 15.0321 1.77946C15.6915 1.49329 16.4015 1.34168 17.1203 1.33351C17.8392 1.32534 18.5524 1.46078 19.2182 1.73188C19.884 2.00299 20.4889 2.4043 20.9976 2.91228C21.5062 3.42027 21.9083 4.0247 22.1803 4.69014C22.4523 5.35558 22.5887 6.06862 22.5814 6.78745C22.5742 7.50629 22.4235 8.21644 22.1382 8.87628C21.8529 9.53611 21.4387 10.1323 20.92 10.63L20.59 10.96L12 19.57L6.06997 13.64L3.40997 11Z" stroke="#FF9923" stroke-width="1.91" stroke-miterlimit="10"/>
    </svg>

  {%- when 'cart' -%}
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 3H3.5817C4.05988 3 4.29897 3 4.49338 3.08668C4.66475 3.1631 4.81117 3.2862 4.9159 3.4419C5.03469 3.61852 5.07576 3.85406 5.15791 4.32513L5.52068 6.40541M5.52068 6.40541L6.36881 11.269C6.54834 12.2985 6.6381 12.8132 6.90339 13.1841C7.13699 13.5106 7.46345 13.7593 7.84031 13.8978C8.26831 14.055 8.78842 14.0048 9.82864 13.9044L19.1917 13.0008C20.1332 12.9099 20.604 12.8645 20.9663 12.6646C21.3542 12.4505 21.66 12.1137 21.8358 11.707C22 11.3272 22 10.8543 22 9.90833V9.90833C22 8.90322 22 8.40066 21.8209 8.00639C21.6291 7.58443 21.2968 7.24216 20.8807 7.03807C20.4919 6.84737 19.9895 6.83254 18.9849 6.80288L5.52068 6.40541Z" stroke="#42474C" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
      <ellipse cx="9.31694" cy="19.0541" rx="1.95122" ry="1.94595" stroke="#42474C" stroke-width="1.8"/>
      <ellipse cx="18.5855" cy="19.0541" rx="1.95122" ry="1.94595" stroke="#42474C" stroke-width="1.8"/>
    </svg>
    
  {%- when 'nav' -%}
    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M17.2 3.8H0.5C0.2 3.8 0 3.6 0 3.3V0.5C0 0.2 0.2 0 0.5 0H17.3C17.6 0 17.8 0.2 17.8 0.5V3.3C17.7 3.6 17.5 3.8 17.2 3.8Z" fill="#103178"/>
      <path d="M17.2 9.8H0.5C0.2 9.8 0 9.6 0 9.3V6.5C0 6.2 0.2 6 0.5 6H17.3C17.6 6 17.8 6.2 17.8 6.5V9.3C17.7 9.5 17.5 9.8 17.2 9.8Z" fill="#103178"/>
      <path d="M17.2 15.7H0.5C0.2 15.7 0 15.5 0 15.2V12.4C0 12.1 0.2 11.9 0.5 11.9H17.3C17.6 11.9 17.8 12.1 17.8 12.4V15.2C17.7 15.5 17.5 15.7 17.2 15.7Z" fill="#103178"/>
    </svg>

  {%- when 'arrowDown' -%}
    <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.01529 2.98179L1.35057 0.317078L0 1.66765L4.01529 5.68294L8.03057 1.66765L6.68 0.317078L4.01529 2.98179Z" fill="#5B6C8F"/>
    </svg>

  {%- when 'hamburger' -%}
    <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21.0652 2.00879H0.61236C0.244944 2.00879 0 1.90353 0 1.74563V0.271947C0 0.114052 0.244944 0.00878906 0.61236 0.00878906H21.1876C21.5551 0.00878906 21.8 0.114052 21.8 0.271947V1.74563C21.6775 1.90353 21.4326 2.00879 21.0652 2.00879Z" fill="#FF9923"/>
      <path d="M21.0652 9.00879H0.61236C0.244944 9.00879 0 8.90353 0 8.74563V7.27195C0 7.11405 0.244944 7.00879 0.61236 7.00879H21.1876C21.5551 7.00879 21.8 7.11405 21.8 7.27195V8.74563C21.6775 8.85089 21.4326 9.00879 21.0652 9.00879Z" fill="#FF9923"/>
      <path d="M21.0652 16.0088H0.61236C0.244944 16.0088 0 15.9035 0 15.7456V14.2719C0 14.1141 0.244944 14.0088 0.61236 14.0088H21.1876C21.5551 14.0088 21.8 14.1141 21.8 14.2719V15.7456C21.6775 15.9035 21.4326 16.0088 21.0652 16.0088Z" fill="#FF9923"/>
    </svg>

  {%- when 'facebook' -%}
    <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.29366 15V8.29102H0V5.625H2.29366V3.52441C2.29366 1.24219 3.71711 0 5.79545 0C6.79127 0 7.64653 0.0732422 7.89474 0.105469V2.49023H6.45335C5.32297 2.49023 5.10466 3.01758 5.10466 3.78809V5.625H7.6555L7.30562 8.29102H5.10466V15" fill="#5B6C8F"/>
    </svg>


  {%- when 'instagram' -%}
    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.21329 4.13068C5.42006 4.13068 3.97364 5.63361 3.97364 7.49689C3.97364 9.36017 5.42006 10.8631 7.21329 10.8631C9.00653 10.8631 10.453 9.36017 10.453 7.49689C10.453 5.63361 9.00653 4.13068 7.21329 4.13068ZM7.21329 9.68536C6.05446 9.68536 5.10709 8.70392 5.10709 7.49689C5.10709 6.28986 6.05164 5.30841 7.21329 5.30841C8.37495 5.30841 9.3195 6.28986 9.3195 7.49689C9.3195 8.70392 8.37213 9.68536 7.21329 9.68536ZM11.3411 3.99298C11.3411 4.4295 11.0028 4.77814 10.5855 4.77814C10.1654 4.77814 9.82983 4.42657 9.82983 3.99298C9.82983 3.55939 10.1682 3.20782 10.5855 3.20782C11.0028 3.20782 11.3411 3.55939 11.3411 3.99298ZM13.4868 4.78986C13.4389 3.7381 13.2076 2.80646 12.4661 2.03888C11.7274 1.2713 10.8308 1.03107 9.81856 0.978333C8.77532 0.916809 5.64845 0.916809 4.60522 0.978333C3.59582 1.02814 2.6992 1.26837 1.95766 2.03595C1.21612 2.80353 0.987738 3.73517 0.936986 4.78693C0.877776 5.87091 0.877776 9.11993 0.936986 10.2039C0.984918 11.2557 1.21612 12.1873 1.95766 12.9549C2.6992 13.7225 3.593 13.9627 4.60522 14.0154C5.64845 14.077 8.77532 14.077 9.81856 14.0154C10.8308 13.9656 11.7274 13.7254 12.4661 12.9549C13.2048 12.1873 13.436 11.2557 13.4868 10.2039C13.546 9.11993 13.546 5.87384 13.4868 4.78986ZM12.139 11.367C11.9191 11.9412 11.4934 12.3836 10.9379 12.6151C10.1061 12.9578 8.13247 12.8787 7.21329 12.8787C6.29412 12.8787 4.31762 12.9549 3.48867 12.6151C2.93604 12.3865 2.51029 11.9442 2.28755 11.367C1.95766 10.5027 2.03379 8.45197 2.03379 7.49689C2.03379 6.54181 1.96048 4.4881 2.28755 3.62677C2.50747 3.05255 2.93322 2.61017 3.48867 2.37872C4.32044 2.03595 6.29412 2.11505 7.21329 2.11505C8.13247 2.11505 10.109 2.03888 10.9379 2.37872C11.4905 2.60724 11.9163 3.04962 12.139 3.62677C12.4689 4.49103 12.3928 6.54181 12.3928 7.49689C12.3928 8.45197 12.4689 10.5057 12.139 11.367Z" fill="#5B6C8F"/>
    </svg>

  {%- when 'youtube' -%}
    <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.5935 2.63524C15.4213 1.94237 14.914 1.39669 14.2699 1.2115C13.1024 0.875 8.42094 0.875 8.42094 0.875C8.42094 0.875 3.73947 0.875 2.57195 1.2115C1.92784 1.39672 1.42055 1.94237 1.24838 2.63524C0.935547 3.89111 0.935547 6.51137 0.935547 6.51137C0.935547 6.51137 0.935547 9.13162 1.24838 10.3875C1.42055 11.0804 1.92784 11.6033 2.57195 11.7885C3.73947 12.125 8.42094 12.125 8.42094 12.125C8.42094 12.125 13.1024 12.125 14.2699 11.7885C14.914 11.6033 15.4213 11.0804 15.5935 10.3875C15.9063 9.13162 15.9063 6.51137 15.9063 6.51137C15.9063 6.51137 15.9063 3.89111 15.5935 2.63524ZM6.88982 8.89036V4.13237L10.8026 6.51143L6.88982 8.89036Z" fill="#5B6C8F"/>
    </svg>

  {%- when 'pinterest' -%}
    <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.18763 0.19046C3.2345 0.19046 0.315918 2.19437 0.315918 5.43753C0.315918 7.50003 1.45572 8.6719 2.14651 8.6719C2.43146 8.6719 2.59552 7.86331 2.59552 7.6348C2.59552 7.36233 1.91337 6.78226 1.91337 5.64847C1.91337 3.293 3.67488 1.62308 5.95449 1.62308C7.9146 1.62308 9.36526 2.75687 9.36526 4.83987C9.36526 6.39554 8.75218 9.31351 6.76617 9.31351C6.04947 9.31351 5.4364 8.78616 5.4364 8.0303C5.4364 6.92288 6.19626 5.85062 6.19626 4.70804C6.19626 2.76858 3.49355 3.12015 3.49355 5.4639C3.49355 5.95608 3.55399 6.50101 3.76987 6.94925C3.37266 8.68948 2.56098 11.2823 2.56098 13.0752C2.56098 13.6289 2.6387 14.1739 2.69051 14.7276C2.78837 14.8389 2.73944 14.8272 2.88911 14.7715C4.33977 12.75 4.28796 12.3545 4.94421 9.70901C5.29824 10.3946 6.21353 10.7637 6.93886 10.7637C9.99561 10.7637 11.3686 7.73148 11.3686 4.99808C11.3686 2.0889 8.89898 0.19046 6.18763 0.19046Z" fill="#5B6C8F"/>
    </svg>

  {%- when 'twitter' -%}
    <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.19666 14.0625H0.577299V5.2998H3.19666V14.0625ZM1.88557 4.10449C1.04816 4.10449 0.368652 3.38379 0.368652 2.51367C0.368652 1.64355 1.04816 0.9375 1.88557 0.9375C2.72297 0.9375 3.40248 1.64355 3.40248 2.51367C3.40248 3.38379 2.72297 4.10449 1.88557 4.10449ZM13.0002 14.0625H10.3865V9.79688C10.3865 8.78027 10.3668 7.47656 9.02466 7.47656C7.66282 7.47656 7.45417 8.58105 7.45417 9.72363V14.0625H4.83763V5.2998H7.34985V6.49512H7.3865C7.73612 5.80664 8.59045 5.08008 9.86488 5.08008C12.5153 5.08008 13.003 6.89356 13.003 9.24902V14.0625H13.0002Z" fill="#5B6C8F"/>
    </svg>

  {%- when 'home' -%}
    {%- assign fill = fill | default: '#FF9923' -%}
    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20 10.4912V22.4912H4V10.4912" stroke="{{fill}}" stroke-width="2" stroke-miterlimit="10"/>
      <path d="M23 12.4912L12 3.49121L1 12.4912" stroke="{{fill}}" stroke-width="2" stroke-miterlimit="10"/>
    </svg>

  {%- when 'custom' -%}
    {%- unless name == blank -%}
      {%- if name contains '<svg' -%}<span class="svg-element-ui">{{ name }}</span>
      {%- else 					-%}<span class="icon-element-ui"><i class="{{name}}"></i></span>
      {%- endif -%}
    {%- endunless -%}
{%- endcase -%}